/* App.css */

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  height: 100vh;
  background-color: yellow;
  width: 100% !important;
}

.header {
  color: green;
}

.container-1 {
  margin-top: 150px;
  font-weight: bold !important;
}

.amount {
  color: green;
  font-weight: bold;
}

/* Message Styling */
.message {
  margin-top: 20px;
}

.message.won {
  color: green;
}

.message.lost {
  color: red;
}

.message.neutral {
  color: gray;
}

/* BetOptions.css */
.dice-button {
  background-color: rgb(1, 93, 1) !important;
  color: white !important;
  padding: 10px !important;
  font-family: Arial !important;
  margin-right: 5px !important;
  margin-top: 20px !important;
}

.dice-button:hover {
  background-color: transparent !important;
  color: green !important;
  border: 1px solid green !important;
  opacity: 0.8;
}

.result-1 {
  color: rebeccapurple !important;
}